.article {
    background: var(--color-primary);
    border-radius: 18px;
    box-shadow: var(--box-shadow);
    padding: 1.5rem 1.5rem 1.2rem 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    margin-bottom: 0.2rem;
}

.avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: var(--color-button-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 700;
    transition: background-color var(--transition);
}

.username {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 700;
    color: var(--color-button-text);
    font-size: 1.1rem;
    text-decoration: none;
    transition: opacity 0.3s ease-in;
}

.username:hover .avatar {
    background: var(--color-button-bg-hover);
}

.time {
    color: var(--color-text);
    font-size: 0.95rem;
}

.content {
    background-color: var(--color-secondary);
    color: var(--color-text);
    font-size: 1.15rem;
    line-height: 1.6;
    padding: 0.5rem;
    border-radius: 5px;
    word-break: break-word;
}

.actions {
    display: flex;
    gap: 1rem;
    margin-top: 0.7rem;
}
