.button {
    border: 0;
    background: none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: var(--color-text);
    position: relative;
    width: 2rem;
    height: 2rem;
}

.button i::before {
    transition: color var(--transition);
}

.button:hover i::before {
    color: var(--color-tertiary);
}
