.header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background: var(--color-primary);
    box-shadow: var(--box-shadow);
    height: 5rem;
    z-index: 10;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    transition: all var(--transition);
}

.logo:hover {
    opacity: 0.6;
}

.nav {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.username {
    border: 1px solid var(--color-tertiary);
    padding: 1rem;
    text-decoration: none;
    color: var(--color-text);
    transition: background-color var(--transition);
    border-radius: 0.5rem;
}

.username:hover {
    background-color: var(--color-tertiary);
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 1rem;
}
