.wrap {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

input:focus-visible,
a:focus-visible,
select:focus-visible,
textarea:focus-visible,
button:focus-visible {
    outline: 2px dashed var(--color-text);
    outline-offset: 1px;
}
